@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Advent%20Pro:700|Advent%20Pro:400");

:root {
  --bg-body: #112840;
  --bg-logo: #d6e1ff;
  --text-nav: #c2f3ff;
  --text-title-paragraphe: #d6e1ff;
  --text-paragraphe: #c2f3ff;
  --border: #d6e1ff;
}
body {
  background-color: var(--bg-body);
  font-family: "Advent Pro";
}
nav h1 {
  color: var(--text-nav);
}
nav a,
footer p {
  color: var(--text-nav);
}
nav a:hover {
  border-bottom: var(--border) 1px solid;
}
article p span,
h1 {
  color: var(--text-title-paragraphe);
}
article p,
h3 {
  color: var(--text-paragraphe);
  text-align: justify;
}
#contact p {
  color: var(--text-paragraphe);
}
.logo {
  background-color: var(--text-title-paragraphe);
}
label span {
  color: var(--text-title-paragraphe);
}
