@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Advent%20Pro:700|Advent%20Pro:400");

:root {
  --bg-body: #112840;
  --bg-logo: #d6e1ff;
  --text-nav: #c2f3ff;
  --text-strong-paragraphe: #d6e1ff;
  --text-paragraphe: #c2f3ff;
  --border: #d6e1ff;
}
body {
  background-color: var(--bg-body);
  font-family: "Advent Pro";
}
header {
  border-bottom: 1px solid var(--border);
}
header h1 {
  color: var(--text-strong-paragraphe);
}
nav a {
  color: var(--text-nav);
}
article h1 {
  color: var(--text-strong-paragraphe);
}
section p {
  color: var(--text-paragraphe);
}
article span {
  color: white;
}

#skill h1,
#contact h1 {
  color: var(--text-strong-paragraphe);
}
#skill h3 {
  color: var(--text-strong-paragraphe);
}
footer p {
  color: var(--text-paragraphe);
}
