@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Advent%20Pro:700|Advent%20Pro:400");

:root {
  --bg-body: #112840;
  --text-nav: #c2f3ff;
  --text-title-paragraphe: #d6e1ff;
  --text-paragraphe: #c2f3ff;
  --border-bottom: #d6e1ff;
}
body {
  background-color: var(--bg-body);
  font-family: "Advent Pro";
}
nav h1 {
  color: var(--text-nav);
}
a {
  color: var(--text-nav);
}
a:hover {
  border-bottom: var(--border-bottom) 1px solid;
}
article p span {
  color: var(--text-title-paragraphe);
}
article p {
  color: var(--text-paragraphe);
  text-align: justify;
}
/*  
mode dark 
  --bg-body: #112840;
  --text-nav: #9eb1ff;
  --text-title-paragraphe: #d6e1ff;
  --text-paragraphe: #c2f3ff;
  --border-bottom: #3e63dd;

mode light
    --bg-body:rgb(209, 240, 250);
  --text-nav: rgb(58, 91, 199);
  --text-title-paragraphe: rgb(31, 45, 92);
  --text-paragraphe: rgb(2 132 199);
  --border-bottom: rgb(62, 99, 221);
*/
